FLASK_HOST=threat-service
FLASK_PORT=5000

POSTGRES_USER=your_user
POSTGRES_PASSWORD=your_password
POSTGRES_DB=your_DB
POSTGRES_HOST=your_host
POSTGRES_PORT=5432

PGADMIN_DEFAULT_EMAIL=your_pgadmin_email
PGADMIN_DEFAULT_PASSWORD=your_pgadmin_password

INFLUXDB_TOKEN=your_influxdb_token

FLASK_ENV=development